Users can log in/sign up (JWT is required). backend signup and login done
Users can edit their profiles. backend done
Users can follow each other. backend done

Users can create posts with captions. backend done
Users can browse, like and comment on posts on the feed page according to the following. backend done 
Users can get recommendations of users to follow, according to a depth of 2 follower nodes of users I follow.